.bg {
  height: 100%;
  width: 100%;
  z-index: -1000;
  background-image: url(../images/playstation-pattern.png);
  transform-origin: left bottom;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  top: 20vh;
  background-color: white;
  box-shadow: 0px 0px 20px 5px rgba(46,61,73,.20);
  border: solid 1.2px #ccc;
  border-radius: 3px;
  background-image: url(../images/memphis-colorful.png);
}

.curtain {
  width: calc(100% + 30px);
  position: relative;
  perspective: 1000;
  background: url(../images/Sports.png);
  padding-left: 0;
  padding-right: 0;
  margin-left: -15px;
  margin-right: -15px;
  color: #777;
}
.curtain:before{
  content: "";
  display: block;
  padding-top: 100%;
}


.tile {
  border: solid 1px #ccc;
  border-radius: 5px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

}

.tile:before{
  content: "";
	display: block;
	padding-top: 100%;

}

.tile:hover {
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.tile.flipped .content {
  transform: rotateY(180deg);
}

.content{
  transition: 0.6s;
  transform-style: preserve-3d;
}

.restart {
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
}

.margin-top-5 {
  margin-top: 5%;
}

.head {
  font-weight: 900;
}

.value {
  font-weight: 100;
}

.score {
  font-size: 23px;
}

.brand {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.small {
  font-size: 15px;
}
.content, .front, .back {
  height:100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}


/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  color: white;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  padding: 4px;
}

.red {
  background-color: #f9d4ce;
}

.green {
  background-color: #d4eac1;
}

.purple {
  background-color: #d2d1e0
}

.orange {
  background-color: #f7dcb8;
}

.cyan {
  background-color: #ceecf9;
}

.pink {
  background-color: #f9cee1;
}

.grey {
  background-color: #ececec;
}

.yellow {
  background-color: #ffed93;
}

.star {
  color: #ffec84;
}
